<h1>Form for To Do List</h1>
<%= form_for @todo do |f| %>
<%= f.label :title %>
<%= f.text_field :title %>

<%= f.label :completed %>
<%= f.text_field :completed %>

<%= f.label :body%>
<%= f.text_field :body %>

<%= f.submit %>
<% end %>
